@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

html 
  font-family: 'Noto Sans', Arial, sans-serif

body
  --foreground-color: #fff
  --background-color: #121110
  --border-color: #e3d9d1
  margin: 0
  background-color: var(--background-color)
  background-image: url('../assets/block_bg.png')
  background-repeat: no-repeat
  background-size: 1920px 1080px
  background-position center 580px
  color: var(--foreground-color)
  fill: var(--foreground-color)
  min-height: 100vh

.fancy-border1
  border-width: 28px
  border-style: solid
  border-image: url('../assets/fancy_border.png') stretch
  border-image-slice: 28

.fancy-border2
  border-width: 28px
  border-style: solid
  border-image: url('../assets/fancy_border2.png') stretch
  border-image-slice: 28 fill

  &>*
    z-index: 1

pixel-border()
  --border-color: #e3d9d1
  --border-top-color: var(--border-color)
  --border-right-color: var(--border-color)
  --border-bottom-color: var(--border-color)
  --border-left-color: var(--border-color)
  --border-width: 4px
  --background-color: transparent
  position: relative

  &::before
    content: ''
    position: absolute
    left: var(--border-width)
    right: var(--border-width)
    top: 0
    bottom: 0
    border-top: var(--border-width) solid var(--border-top-color)
    border-bottom: var(--border-width) solid var(--border-bottom-color)
    pointer-events: none
    background-color: var(--background-color)
    z-index: -1

  &::after
    content: ''
    position: absolute
    left: 0
    right: 0
    top: var(--border-width)
    bottom: var(--border-width)
    border-left: var(--border-width) solid var(--border-left-color)
    border-right: var(--border-width) solid var(--border-right-color)
    pointer-events: none
    z-index: -1

.border-box
  pixel-border()
  padding: 8px

select
  background-color: var(--background-color)
  border: 1px solid var(--border-color)
  color: inherit
  font-size: inherit
  padding: 2px

button
  pixel-border()
  display: inline-block
  padding: 12px 14px
  border: none
  background-color: transparent
  --background-color: transparent
  cursor: pointer

  &>img
    margin-bottom: -1px

button:hover:not([disabled])
  --border-color: #fff
  --background-color: #fff

button:active:not([disabled])
  --border-color: #fff
  --background-color: #0008

button[disabled]
  cursor: default

  &>img
    opacity: 0.5

input[type='checkbox'],
label
  cursor: pointer

.hidden
  display: none !important

.row
  display: flex
  align-items: center

.column
  display: flex
  align-items: center
  flex-direction: column

.section
  position: relative
  padding: 0 120px

.section-title
  margin-bottom: 0px

.section-body:not(.no-flex)
  display: flex
  align-items: center

.section-body.no-flex
  padding-left: 20px
  padding-right: 60px

  h3
    margin-left: -8px

  p
    color: #e5e8ef
  
  p + h3
    margin-top: 36px
  
  a
    color: #75b2ff

    &:visited
      color: #a070ff

.section-panel
  flex: 1
  display: flex
  align-items: center
  justify-content: center

.footer-section
  margin-top: 48px
  padding: 30px 120px
  display: flex
  justify-content: flex-end
  background-color: #000

.convert-skin-column
  margin: 0 24px 0 8px

.convert-skin-text
  margin: 4px 12px

.arrow-right
  width: 100%
  height: 10px
  background-color: var(--foreground-color)
  position: relative

.arrow-right::after
  content: ''
  border-left: 16px solid var(--foreground-color)
  border-top: 16px solid transparent
  border-bottom: 16px solid transparent
  position: absolute
  left: 100%
  top: 50%
  transform: translateY(-50%)

.align-flex-start
  align-self: flex-start

.converter-slot
  margin-top: 4px
  margin-bottom: 8px

.transparent-image-wrapper
  background-image: url('../assets/transparent.png')
  background-size: auto
  background-repeat: repeat
  width: 256px
  height: 256px

.warning-hd-required
  font-size: 0.7em
  color: #fae030
  max-width: 270px
  margin: -8px 0px 8px 0px

#upload-panel
  flex-direction: column

#upload-icon
  pixel-border()
  --border-width: 20px
  --border-color: #fff5
  --border-top-color: transparent
  --border-bottom-color: transparent
  --background-color: #fff5
  height: 104px
  width: 104px
  display: flex
  align-items: center
  justify-content: center
  cursor: pointer
  
  svg
    width: 64px
    height: 64px

#converter-panel
  flex: 2

#input-skin
  width: 100%
  -ms-interpolation-mode: nearest-neighbor
  image-rendering: -moz-crisp-edges
  image-rendering: -webkit-optimize-contrast
  image-rendering: pixelated

#output-skin
  width: 128px
  height: 128px

#portrait-preview
  position: absolute
  width: 32px
  height: 32px
  -ms-interpolation-mode: nearest-neighbor
  image-rendering: -moz-crisp-edges
  image-rendering: -webkit-optimize-contrast
  image-rendering: pixelated
  margin-right: 8px
  border: 1px solid var(--border-color)

#mod-section
  background-color: #0008
  overflow-x: hidden

#mod-section .section-panel
  min-height: 580px

#mod-title
  margin-top: 4px

#menu-bg
  position: absolute
  margin-left: 380px
  pointer-events: none
  -webkit-mask-image: url('../assets/bg_mask.png')
  mask-image: url('../assets/bg_mask.png')

#menu-preview-model
  margin-left: 200px
  padding: 36px 0px
  background-image: url('../assets/player_shadow.png')
  background-position: center 72px
  background-repeat: no-repeat
  background-size: 100%
  z-index: 1

#menu-preview-model>canvas
  width: 320px !important
  height: 320px !important

#mod-section .section-panel:last-child>*
  margin-left: -300px
  z-index: 2

.mod-edition-title
  margin-bottom: 4px

#download-mod-button>button,
#download-hd-mod-button>button,
#download-skin-button
  --border-top-color: #60cf73
  --border-left-color: #377a44
  --border-bottom-color: #23582e
  --border-right-color: #377a44
  --background-color: #418c50
  
  &:hover
    --border-top-color: #fff
    --border-left-color: #fff
    --border-bottom-color: #fff
    --border-right-color: #fff

#download-mod-button>button,
#download-hd-mod-button>button
  margin-top: 8px

#converter-section>.section-body
  min-height: 500px

#cape-converter .transparent-image-wrapper
  width: 512px
  height: 512px
  position: relative

#cape-template
  position: absolute
  -ms-interpolation-mode: nearest-neighbor
  image-rendering: -moz-crisp-edges
  image-rendering: -webkit-optimize-contrast
  image-rendering: pixelated
  width: 83.7681%

.mod-section-buttons-row
  position: absolute
  left: calc(156px + 25vw)
  bottom: 16px
  transform: translateX(-50%)

.mod-section-button
  pixel-border()
  --border-color: #1b1b1c
  --border-top-color: #363638
  --border-bottom-color: #161617
  --background-color: #202021
  z-index: 1
  padding: 8px 12px
  cursor: pointer
  font-weight: 700
  letter-spacing: 1px
  color: #fff !important
  text-decoration: none

  &:not(:first-child)
    margin-left: 12px
  
  &:hover
    --border-color: #fff
    --border-top-color: #fff
    --border-bottom-color: #fff

#model-viewer>canvas
  width: 256px !important
  height: 256px !important

@media only screen and (max-width: 1440px)
  .section
    padding: 0 20px
  
  #mod-section .section-panel:last-child>*
    margin-left: 0
  
  .mod-section-buttons-row
    left: calc(106px + 25vw)
